<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HttpPort" value="80"/>
    <add key="HttpsPort" value="443"/>
    <add key="EnableCache" value="True"/>
    <add key="OnlyCacheItemsLessThenMB" value="10"/>
    <add key="MaximumCacheSizeInMB" value="True"/>
    <add key="LogDirectory" value="[ProgramDataDirectory]\Vlix\HttpServer\Logs"/>
    <add key="WWWDirectory" value="[ProgramDataDirectory]\Vlix\HttpServer\www"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
