<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HTTPPort" value="80"/>
    <add key="HTTPSPort" value="443"/>
    <add key="EnableCache" value="True"/>
    <add key="OnlyCacheItemsLessThenMB" value="10"/>
    <add key="MaximumCacheSizeInMB" value="250"/>
    <add key="LogDirectory" value="[ProgramDataDirectory]\Vlix\HTTPServer\Logs"/>
    <add key="WWWDirectory" value="[ProgramDataDirectory]\Vlix\HTTPServer\www"/>
    <add key="AllowLocalhostConnectionsOnly" value="False"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
