<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Port" value="8080" />
    <add key="EnableCache" value="False" />
    <add key="LogDirectory" value="[ProgramDataDirectory]\Vlix\HttpServer\Logs" />
    <add key="WWWDirectory" value="[ProgramDataDirectory]\Vlix\HttpServer\www" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>